@import "reset";

// Colours
$super-dark-gray: #242424;
$dark-gray: #6A6A6C;
$light-gray: #ABABAB;
$super-light-gray: #c7c7c7;
$blue: #0068D6;
$green: #16C424;
$yellow: #FBD133;

// Base Font
$base-font-family: 'Source Sans Pro', Helvetica, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5;

html {
  font-family: $base-font-family;
  -webkit-text-size-adjust: none;

}

.small-title {
  font-size: 1em;
  margin: 4em 0 4em;
  color: $light-gray;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.yellow-underline {
  border-bottom: 4px solid $yellow;
}

.separator {
  margin: 3em 0 0;
  border-bottom: 1px solid $super-light-gray;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
  color: $blue;
  margin-bottom: 1.25em;
}

h3 {
  font-size: 1.75em;
  font-weight: 700;
  color: $super-dark-gray;
  margin: 1.5em 0;
}

p {
  font-size: 1.25em;
  line-height: $base-line-height;
  color: $dark-gray;
  margin-bottom: 1em;
}

a {
  text-decoration: none;
  color: $blue;

  :hover {
    text-decoration: underline;
  }
}

img {
  width: 100%;
  height: auto;
}

/* Containers */

#page {
  padding: 0 2em;
  margin: 0 auto;
}

#nav {
  display: flex;
  justify-content: space-between;
  align-items:baseline;

  .cta-link {
    text-decoration: none;
    display: inline-block;
    margin: 8px 0;
    color: $super-light-gray;
  }

  h1 {
    display: inline-block;
  }
}

#cta {
  display: flex;
  flex-direction: column;
  margin: 2em 0;

  img {
    width: 32px;
    margin: auto;
    display: block;
    order: 1;
    margin-bottom: 1em;
  }

  p {
    display: block;
    margin: auto;
    text-align: center;
    order: 2;
  }
}


.project {
  margin: 4em 0;

  .project-info {
    font-size: 1em;
    color: $dark-gray;
    display: inline-flex;
    align-items: center;
    margin: 1.5em 1.5em 1.5em 0;

    img {
      width: 16px; 
      margin-right: 8px;
    }
  }
}




#copyright {
  margin: 1em 0;
  text-align: center;
  color: $super-light-gray;
  font-size: 1em;
}

@media (min-width: 1000px) {
  #page {
    max-width: 36em;
  }
}
